
body {
  background: #b9e3f459;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.header-icon {
  display: flex;
  margin: 3rem;
  flex-direction: row;
  align-items: center;
}

.icon-img {
  height: 150px;
  margin-right: 51px;
  border-radius: 73px;
  width: 150px;
}

.icon-text {
  display: flex;
  flex-direction: column;

}

.icon-text h4 {
  font-size: 20px;
  margin: 0px;
}

.icon-text p {
  opacity: .8;
  font-size: 11px;
  font-family: system-ui;
}

.input-container {
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  margin-left: 50px;
  margin-bottom: 0px;
  width: 11%;
  border: 1px none #f6f0f0;
  border-radius: 12px;
  background: #e2dfdf8f;
  font-size: 1rem;
}

.select-container {
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

select {
     /* font-size: 9px; */
     padding: 0.5rem;
     border: 1px none #ddd;
     border-radius: 4px;
     margin-left: 30px;
     font-size: 1rem;
     background: #b9e3f429;
}

.search_container{
  display: flex;
  /* justify-content: left; */
  align-items: center;
}
.search-bar input {

  padding: 0.5rem;
  margin-left: 19px;
  margin-bottom: 10px;
  padding-left: 65px;
  height: 41px;
  width: 80%;
  border: 1px none #f6f0f0;
  border-radius: 12px;
  font-size: 1rem;
  background-color: #F5F5F5;

}

.search-bar img {
  position: relative;
  left: -72%;
  top: 4%;
  height: 17px;
}