
body {
  /* background: #b9e3f459; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.main-box{
  display: flex;
  flex-direction: column;
  /* align-i: center;
  justify-content: center; */
}
.header-icon {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  align-items: center;
}

.icon-img {
  height: 150px;
  margin-right: 51px;
  border-radius: 73px;
  width: 150px;
}

.icon-text {
  display: flex;
  flex-direction: column;

}

.icon-text h4 {
  font-size: 20px;
  margin: 0px;
}

.icon-text p {
  opacity: .8;
  font-size: 11px;
  font-family: system-ui;
}

.input-container {
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  margin-left: 50px;
  margin-bottom: 0px;
  width: 11%;
  border: 1px none #f6f0f0;
  border-radius: 12px;
  background: #e2dfdf8f;
  font-size: 1rem;
}

.select-container {
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

select {
     /* font-size: 9px; */
     padding: 0.5rem;
     border: 1px none #ddd;
     border-radius: 4px;
     margin-left: 30px;
     font-size: 1rem;
     background: #b9e3f429;
}

.search_container{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 12px;
  width: 80%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 149px;
}
.search-bar input {

  padding: 0.5rem;
  margin-left: 19px;
  margin-bottom: 10px;
  padding-left: 65px;
  height: 41px;
  width: 80%;
  border: 1px none #f6f0f0;
  border-radius: 12px;
  font-size: 1rem;
  background-color: #F5F5F5;

}

.search-bar img {
  position: relative;
  left: -72%;
  top: 4%;
  height: 17px;
}


.card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card h6{
  opacity: .6;
  font-size: 10px;
}

.card p {
  font-size: 15px;
  opacity: .9;
}
.pagination-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding:.8rem 2.2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #15133c;
  color: #ffffff;
  margin: 3rem;
  cursor: pointer;
  display:inline-block;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}